@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #94a3b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #94a3b8;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background: #5eeabf;
  color: #111212;
}